@{
    //Layout = "~/Views/Home/Admin.cshtml";
  Layout = "~/Views/Home/MyLayout.cshtml";
}

@*<div>
    @Html.ActionLink("LOGIN","Login")
</div>
<div>
    @Html.ActionLink("REGISTER SHOP ADMIN", "RegisterShopAdmin")
</div>
<div>
    @Html.ActionLink("REGISTER SHOPS", "RegisterShop") 
</div>
<div>
    @Html.ActionLink("REGISTER DELIVERY BOY", "RegisterDeliveryBoy")
</div>
<div>
    @Html.ActionLink("VIEW SHOP ADMIN","ViewShopAdmin")
</div>
<div>
    @Html.ActionLink("VIEW SHOPS","ViewShop")
</div>
<div>
    @Html.ActionLink("VIEW DELIVERY BOYS","ViewDeliveryBoy")
</div>
<div>
    @Html.ActionLink("VIEW FOODY RATING","ViewFoodyRating")
</div>
<div>
    @Html.ActionLink("VIEW FOODY REVIEWS","ViewFoodyReview")
</div>
<div>
    @Html.ActionLink("SEARCH SHOPS", "SearchShop")
</div>*@
