@{
    Layout = "~/Views/Home/Admin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Foody</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                @*<h1>FOODY</h1>
                <p>***Love Food***</p>*@
            </div>

        </div>

        <div id="page_content">

            <!--Template designed by-->@*<a href="http://www.htmltemplates.net"><img src="images/copyright.gif" class="copyright" alt="http://www.htmltemplates.net"></a>*@
            <div class="navbar-inverse">
                <div class="container">
                    <div class="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">SERVICES</a></li>
                            <li><a href="#">CONTACT US</a></li>
                            @*<li>@Html.ActionLink("REGISTER SHOP ADMIN", "RegisterShopAdmin")</li>*@
                            
                            </ul>
                    </div>
               </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="left_side_bar">
                        <div class="col_1">
                            <h1>Main Menu</h1>
                            <div class="box">
                                <ul>
                                    <li>@Html.ActionLink("REGISTER SHOPS", "RegisterShop")</li>
                                    <li>@Html.ActionLink("REGISTER DELIVERY BOY", "RegisterDeliveryBoy")</li>
                                    <li>@Html.ActionLink("VIEW SHOPS", "ViewShop")</li>
                                    <li>@Html.ActionLink("VIEW DELIVERY BOYS", "ViewDeliveryBoy")</li>
                                    <li>@Html.ActionLink("VIEW FOODY RATING", "ViewFoodyRating")</li>
                                    <li>@Html.ActionLink("VIEW FOODY REVIEWS", "ViewFoodyReview")</li>
                                    <li>@Html.ActionLink("VIEW DELIVERY BOY RATING", "ViewDeliveryBoyRating")</li>
                                    <li>@Html.ActionLink("VIEW DELIVERY BOY REVIEW", "ViewDeliveryBoyReview")</li>
                                    <li>@Html.ActionLink("VIEW SHOP RATING", "ViewShopRating")</li>
                                    <li>@Html.ActionLink("VIEW SHOP REVIEW", "ViewShopReview")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="row">
                    <div>
                        @RenderBody();
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <!--start footer from here-->
            <div id="footer">
                Copyright &copy; 2019. Design by <a href="http://www.foody.net" target="_blank">Foody.net</a><br>

            </div>

        </div>

    </div>

</body>
</html>

