@{
    Layout = "~/Views/Home/Admin.cshtml";
}

@*@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
 //   System.Data.DataTable dt = (System.Data.DataTable)Session["data"];

    
    <h1>Search</h1>
   
                <select name="ShopType">
                    <option value="">Select</option>
                    <option value="resturant">Resturant</option>
                    <option value="hotel">Hotels</option>
                    <option value="thattukada">Thattukada</option>
                    @if (Session["selId"] != null)
                    {
                        <option selected value="@Session["selId"].ToString()"></option>
                    }
                </select>
    
    
    
    
    <table>
        <tr>
            <td></td>
            <td><input id="Submit1" type="submit" value="submit" /></td>
        </tr>
</table>
    
    
   <center><h1>View Shops</h1></center>
    <table align="center"> 
        <tr>
            <td>Shop Id</td>
            <td>Shop Name</td>
            <td>User Id</td>
            <td>Owner Name</td>
            <td>Address</td>
            <td>Pincode</td>
            <td>Shop Type</td>
            <td>Mobile</td>
            <td>E-mail</td>
            <td>Registration Number</td>
            <td>Description</td>
            <td>Latitude</td>
            <td>Longitude</td>
        </tr>

        @{
    System.Data.DataTable dt1 = (System.Data.DataTable)ViewData["data"];
        }
        @foreach (System.Data.DataRow row in dt1.Rows)
        {
            <tr>
                <td>@row["shop_id"]</td>
                <td>@row["shop_name"]</td>
                <td>@row["user_id"]</td>
                <td>@row["owner_name"]</td>
                <td>@row["address"]</td>
                <td>@row["pincode"]</td>
                <td>@row["shop_type"]</td>
                <td>@row["mobile"]</td>
                <td>@row["email"]</td>
                <td>@row["registration_no"]</td>
                <td>@row["description"]</td>
                <td>@row["latitude"]</td>
                <td>@row["longitude"]</td>
            </tr>
        }

    </table> 
    
    
}*@


@{
    ViewBag.Title="Searching";
}

@using (Html.BeginForm("Searching", "Home", FormMethod.Get))
{
    <b>Search Option:</b>
    @Html.RadioButton("option","Name")<text>Name</text>
    @Html.RadioButton("option","Type")<text>Type</text>
    @Html.TextBox("search")<input type="submit" name="submmit" value="search" />
}
