@{
    Layout = "~/Views/Home/Admin.cshtml";
}

@using (Html.BeginForm(FormMethod.Get))
{
    <center><h2>View Delivery Boys</h2></center>
    <table align="center">
        <tr>
            <td>Delivery Boy Id</td>
            <td>Delivery Boy Name</td>
            <td>Address</td>
            <td>Pincode</td>
            <td>Date Of Birth</td>
            <td>Mobile</td>
            <td>E-mail</td>
            <td>Photo</td>
            <td>Pancard Image</td>
            <td>Pancard Number</td>
        </tr>

        @{
    System.Data.DataTable dt = (System.Data.DataTable)ViewData["data"];
        }
        @foreach (System.Data.DataRow row in dt.Rows)
        {
            <tr>
                <td>@row["boy_id"]</td>
                <td>@row["boy_name"]</td>
                <td>@row["boy_address"]</td>
                <td>@row["pincode"]</td>
                <td>@row["dob"]</td>
                <td>@row["mobile"]</td>
                <td>@row["email"]</td>
                <td>@row["photo"]</td>
                <td>@row["pancard_image"]</td>
                <td>@row["pancard_no"]</td>
                <td><a href="../Home/RemoveDeliveryBoy?id=@row["boy_id"]">Remove</a></td>
                <td><a href="../Home/Edit Boy's Details'?id=@row["boy_id"]">Edit</a></td>
            </tr>
        }

    </table>
}


