@{
    //Layout = "~/Views/Home/Admin.cshtml";
    Layout = "~/Views/Home/MyLayout.cshtml";
}
             
@using(Html.BeginForm("SearchShopForm","Home",FormMethod.Post))
{
    Html.AntiForgeryToken();
        System.Data.DataTable dt1=(System.Data.DataTable)ViewData["data"];
    <table>
        <tr>
            <td>Categories</td>
            <td>@Html.DropDownList("ShopType", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Select", Value=""},
                    new SelectListItem{ Text="Resturant", Value="resturant"},
                    new SelectListItem{ Text="Hotel", Value="hotel"},
                    new SelectListItem{ Text="Thattukada", Value="thattukada"},
                })</td>
            <td><input type="submit" name="Search" value="Search" /></td>
            <td><input type="submit" name="ViewAll"  value="ViewAll"/></td>
        </tr>
    </table>
    <center><h1>View Shops</h1></center>
    <table align="center"> 
        <tr>
            @*<td>Shop Id</td>*@
            <td>Shop Name</td>
            <td>User Id</td>
            @*<td>Owner Name</td>*@
            <td>Address</td>
            <td>Pincode</td>
            <td>Shop Type</td>
            <td>Phone Number</td>
            <td>E-mail</td>
            <td>Registration Number</td>
            <td>Status</td>
            @*<td>Description</td>
            <td>Latitude</td>
            <td>Longitude</td>*@
        </tr>

        @{
    System.Data.DataTable dt = (System.Data.DataTable)ViewData["data"];
        }
        @foreach (System.Data.DataRow row in dt.Rows)
        {
            <tr>
                @*<td>@row["shop_id"]</td>*@
                <td>@row["shop_name"]</td>
                <td>@row["user_id"]</td>
                @*<td>@row["owner_name"]</td>*@
                <td>@row["shop_address"]</td>
                <td>@row["pincode"]</td>
                <td>@row["shop_type"]</td>
                <td>@row["phone"]</td>
                <td>@row["email"]</td>
                <td>@row["registration_no"]</td>
                <td>@row["status"]</td>
                @*<td>@row["description"]</td>*@
                @*<td>@row["latitude"]</td>
                <td>@row["longitude"]</td>*@
                <td><a href="../Home/RemoveShop?id=@row["shop_id"]">Remove</a></td>
                <td><a href="../Home/UpdateOneShop?id=@row["shop_id"]">Update</a></td>
            </tr>
        }

    </table>
    
}



